*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #24282f;
    color: #b7babd;
}   

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 40px;
    color: #1a9fff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 70px;
    position: relative;
}


.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#24282f;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}



.navbar a {
    font-size: 18px;
    color: #dcdedf;
    text-decoration: none;
    font-weight: 500;
    margin-left: 60px;
    transition: .1s;
}

.navbar a:hover,
.navbar a:active {
    color: #1a9fff;
}

.contact {
    display:flex;
    align-items:center;
    height: 80vh;
    padding: 0 20% ;
    width: 100%;
    font-size: 25px;
}

.contact-info h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.5;
    color: #1a9fff;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 1s,
        cursor .4s step-end infinite alternate;
}


.contact-info h3 {
    font-size: 32px;
    font-weight: 700;
    color: #b7babd;
    margin: 30px 0 40px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 1.3s,
        cursor .4s step-end infinite alternate;
}

.socials a {
    font-size: 25px;
    color: #dcdedf;
    font-weight: 500;
    margin-right: 60px;
    transition: .1s;
    
}

.socials {
    position: absolute;
    bottom: 50px;
    left: 10; 
    width: 100%;
  }


.socials a:hover{
    color: #1a9fff;
}

/*animations*/
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes typing {
    from {width: 0;}
}

@keyframes cursor {
    50% {border-color: transparent;}
}


@media screen and (max-width: 767px) {
    .contact {
        padding: 15% 5%; /* Adjusted padding for smaller screens */
    }

    .contact-info h1 {
        font-size: 24px; /* Further adjusted font size for smaller screens */
    }

    .contact-info h3 {
        font-size: 20px; /* Further adjusted font size for smaller screens */
        margin: 15px 0 20px; /* Further adjusted margin for smaller screens */
    }

    .socials {
        bottom: 160px; /* Adjusted position for smaller screens */
    }

    .socials a {
        font-size: 18px; /* Further adjusted font size for smaller screens */
        margin: 0 50px; /* Further adjusted margin for smaller screens */
    }
}