*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #b7babd;
    height: 100vh;
    width: 100%;
    background: repeating-linear-gradient(150deg,#0e0e0e,#330040,#5d0076,#8900ae,#c900ff,
    #8900ae,#5d0076,#330040,#0e0e0e,#330040,#5d0076,#8900ae,#c900ff);
    background-size: 200% 200%;
    animation: color 5s ease-in-out infinite;
}   

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 40px;
    color: #1a9fff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 70px;
    position: relative;
}


.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#24282f;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}



.navbar a {
    font-size: 18px;
    color: #dcdedf;
    text-decoration: none;
    font-weight: 500;
    margin-left: 60px;
    transition: .1s;
}

.navbar a:hover,
.navbar a:active {
    color: #1a9fff;
}

.contact {
    display:flex;
    align-items:center;
    height: 80vh;
    padding: 0 20% ;
    width: 100%;
    font-size: 25px;
}

.contact-info h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.5;
    color: #1a9fff;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 1s,
        cursor .4s step-end infinite alternate;
}


.contact-info h3 {
    font-size: 32px;
    font-weight: 700;
    color: #b7babd;
    margin: 30px 0 40px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 1.3s,
        cursor .4s step-end infinite alternate;
}

.socials a {
    font-size: 25px;
    color: #dcdedf;
    font-weight: 500;
    margin-right: 60px;
    transition: .1s;
    
}

.socials {
    position: absolute;
    bottom: 70px;
    left: 10; 
    width: 100%;
  }


.socials a:hover{
    color: #1a9fff;
}

/*animations*/
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes typing {
    from {width: 0;}
}

@keyframes cursor {
    50% {border-color: transparent;}
}

@keyframes color {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
    
}


/*responsiveness*/
@media screen and (max-width: 767px) {

    .logo {
        font-size: 30px;
        margin-left: 10px;
    }
    
    .contact {
        padding: 15% 5%; 
    }

    .contact-info h1 {
        font-size: 24px; 
    }

    .contact-info h3 {
        font-size: 20px; 
        margin: 15px 0 20px; 
    }

    .socials {
        bottom: 190px; 
    }

    .socials a {
        font-size: 25px; 
        margin: 0 30px; 
    }
}

/*responsiveness landscape*/
@media screen and (max-width: 850px) and (orientation: landscape) {
    
    .logo {
      font-size: 24px;
      margin-left: 20px;
    }
    
    .contact {
      padding: 10% 5%;
    }
  
    .contact-info h1 {
      font-size: 20px; 
    }
  
    .contact-info h3 {
      font-size: 18px; 
      margin: 10px 0 15px; 
    }
  
    .socials {
      bottom: 150px; 
    }
  
    .socials a {
      font-size: 20px; 
      margin: 0 20px; 
    }
  
    
  }
  

  /*responsiveness landscape*/

  @media screen and (max-width: 768px) and (orientation: landscape) {
    
    .logo {
      font-size: 24px;
      margin-left: 20px;
    }
    
    .contact {
      padding: 10% 5%; 
    }
  
    .contact-info h1 {
      font-size: 20px; 
    }
  
    .contact-info h3 {
      font-size: 18px; 
      margin: 10px 0 15px; 
    }
  
    .socials {
      bottom: 150px; 
    }
  
    .socials a {
      font-size: 20px; 
      margin: 0 20px; 
    }
  
   
  }
  

  @media screen and (max-width: 960px) and (orientation: landscape) {
    
    .logo {
      font-size: 24px;
      margin-left: 20px;
    }
    
    .contact {
      padding: 10% 5%; 
    }
  
    .contact-info h1 {
      font-size: 20px; 
    }
  
    .contact-info h3 {
      font-size: 18px; 
      margin: 10px 0 15px; 
    }
  
    .socials {
      bottom: 60px; 
    }
  
    .socials a {
      font-size: 20px; 
      margin: 0 20px; 
    }
  
   
  }
  
