*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #423d3a;
    color: #b7babd;
}   

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 40px;
    color: #1a9fff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 70px;
    position: relative;
}


.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #251f1c;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}



.navbar a {
    font-size: 18px;
    color: #dcdedf;
    text-decoration: none;
    font-weight: 500;
    margin-left: 60px;
    transition: .1s;
}

.navbar a:hover,
.navbar a:active {
    color: #1a9fff;
}

.home {
    display:flex;
    align-items:center;
    height: 100vh;
    padding: 0 10% ;
    width: 100%;
    background: url("images/pic.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.home-info {
    background: transparent;
}

.home-info h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.5;
    color: #b7babd;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 1s,
        cursor .4s step-end infinite alternate;
}


.home-info h3 {
    font-size: 32px;
    font-weight: 700;
    color: #1a9fff;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 1.3s,
        cursor .4s step-end infinite alternate;
}

.home-info p {
    font-size: 16px;
    margin: 30px 0 40px;
    color: #dcdedf;
    max-width: 600px;
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 1.6s,
        cursor .4s step-end infinite alternate;
}


/*animations*/

@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes typing {
    from {width: 0;}
}

@keyframes cursor {
    50% {border-color: transparent;}
}

@media screen and (max-width: 767px) {
    .home {
        padding: 20% 5%; 
        background-size:cover;
        height: auto; 
        background-position: 100%;
    }

    
    .logo {
        font-size: 30px;
        margin-left: 10px;
    }

    .navbar a {
        font-size: 16px;
        margin-left: 30px;
    }

    .home-info {
        padding-top: 50px; 
    }

    .home-info h1 {
        font-size: 32px;
        white-space: normal;
        overflow: visible;
        
    }

    .home-info h3 {
        font-size: 24px;
        white-space: normal;
        overflow: visible;
        
    }

    .home-info p {
        font-size: 14px;
        white-space: normal;
        overflow: visible;
        
    }
}