*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    color: #b7babd;
}   

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 40px;
    color: #1a9fff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 70px;
    position: relative;
}


.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#24282f;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}


.navbar a {
    font-size: 18px;
    color: #dcdedf;
    text-decoration: none;
    font-weight: 500;
    margin-left: 60px;
    transition: .1s;
}

.navbar a:hover{
    color: #1a9fff;
}

.navbar a.active {
    color: #1a9fff;
}

.resume{
    display:flex;
    align-items:center;
    height: 100vh;
    padding: 0 10% ;
    width: 100%;
}


/*____________________________________________underline effect*/
.resume-info a {
    position: relative;
    font-size: 25px;
    text-decoration: none;
    outline: none;
}

.resume-info a::after {
    content: '';
    position: absolute;
    bottom: 340px;
    left: 0;
    width: 0%;
    height: 1.5px;
    background: red;
    opacity: 0;
    transition: all 0.8s;
    pointer-events: none;
}

.resume-info a.active {
    color: black
}

.resume-info a.active::after {
    opacity: 1;
    color: black;
    width: 100%;
}
/*________________________________*/


.resume-info {
    display: flex;
    justify-content: space-between;
    height: 45vh;
    padding: 0 10%;
    text-decoration: none;
  }
  

.resume-info a {
    margin: 30px; 
}

.resume-info a {
    text-decoration: none;
    color: #b7babd;
    font-size: 35px;
    
}

.me img{
    border-radius: 150%;
    width: 500px;
    height: 700px;
    
}


.res-con .content {
    display: none;
}
  
.res-con .content:target {
    display: block;
}
  

.res-con{
    margin: -65%;
    margin-top: -60%;
    font-size: 20px;
}



/*________________content design*/

#education p {
    margin-top: 10px;
}

#skills p {
    margin-top: 15px;
}

#experience p {
    margin-top: 10px;
}

#achievements p {
    margin-top: 10px;
}

.content .eductitle{
    color: #ac0d42;
}

.content .eductext{
    color:#b7babd;
}

.content .skilltitle{
    color: #ac0d42;
}

.content .skilltext{
    color:#b7babd;
}

.content .exptitle{
    color: #ac0d42;
}

.content .exptext{
    color:#b7babd;
}

.content .achititle{
    color: #ac0d42;
}

.content .achitext{
    color:#b7babd;
}








/*animations*/
@keyframes showRight {
    100% {
        width: 0;
    }
}


/*responsiveness for portrait mobile*/
@media screen and (max-width: 768px) {

    .logo {
        font-size: 30px;
        margin-left: 10px;
    }

    .header {
      padding: 15px 10px;
    }
  
    .logo {
      font-size: 28px;
      margin-left: 40px;
    }
  
    .navbar a {
      font-size: 16px;
      margin-left: 40px;
    }
  
    .resume {
      flex-direction: column;
      height: auto;
      padding: 10% 5%;
    }
  
    .resume-info {
      flex-direction: column;
      height: auto;
      padding: 0;
      margin-bottom: 20px;
    }

    .me img {
      width: 100%;
      height: auto;
      max-width: 300px;
      border-radius: 50%;
      margin-top: 40px;
    }
  
    .res-con {
      margin: 0;
      margin-top: 20px;
      font-size: 18px;
    }

    .resume-info a {
      margin: 15px 0;
      font-size: 22px;
      text-decoration: none;
      position: relative;
      color: #b7babd; 
    }
  
    .resume-info a::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 1.5px; 
      background: transparent; 
      transition: all 0.3s ease-in-out;
    }
  
    .resume-info a:hover::after,
    .resume-info a:focus::after {
      width: 0%; 
    }
    
    
  }

  /*responsive for mobile landscape*/
@media only screen and (max-width: 850px) and (orientation: landscape) {
  body {
      background: radial-gradient(circle at 50% 50%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  }

  .header {
      padding: 15px 10px;
  }

  .logo {
      font-size: 30px;
      margin-left: 20px;
  }

  .navbar a {
      font-size: 16px;
      margin-left: 20px;
  }

  .resume {
      padding: 0 5%;
  }

  .resume-info {
      flex-direction: column;
      height: auto;
      padding: 0;
  }

  .resume-info a {
      margin: 20px 0;
      font-size: 25px;
  }

  .me img {
      width: 100%;
      height: auto;
      max-width: 200px;
      max-height: 300px;
      margin-top: 50px;
  }

  .res-con {
      margin: 0;
      font-size: 16px;
      padding: 5%;
  }

  .logo::before {
      display: none;
  }

  .resume-info a::after {
      bottom: 15px;
  }

  .resume-info a::after {
    display: none;
}
}

/*responsiveness*/
@media only screen and (max-width: 768px) and (orientation: landscape) {
  body {
      background: radial-gradient(circle at 50% 50%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  }

  .header {
      padding: 15px 10px;
  }

  .logo {
      font-size: 30px;
      margin-left: 20px;
  }

  .navbar a {
      font-size: 16px;
      margin-left: 20px;
  }

  .resume {
      padding: 0 5%;
  }

  .resume-info {
      flex-direction: column;
      height: auto;
      padding: 0;
  }

  .resume-info a {
      margin: 20px 0;
      font-size: 25px;
  }

  .me img {
      width: 100%;
      height: auto;
      max-width: 150px;
      max-height: 250px;
      margin-top: 50px;
  }

  .res-con {
      margin: 0;
      font-size: 16px;
      padding: 5%;
  }

  .logo::before {
      display: none;
  }

  .resume-info a::after {
      bottom: 15px;
  }

  .resume-info a::after {
    display: none;
}
}

@media only screen and (max-width: 940px) and (orientation: landscape){
    body {
        background: radial-gradient(circle at 50% 50%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    }
  
    .header {
        padding: 15px 10px;
    }
  
    .logo {
        font-size: 30px;
        margin-left: 20px;
    }
  
    .navbar a {
        font-size: 16px;
        margin-left: 20px;
    }
  
    .resume {
        padding: 0 5%;
    }
  
    .resume-info {
        flex-direction: column;
        height: auto;
        padding: 0;
    }
  
    .resume-info a {
        margin: 20px 0;
        font-size: 25px;
    }
  
    .me img {
        width: 100%;
        height: auto;
        max-width: 200px;
        max-height: 300px;
        margin-top: 50px;
    }
  
    .res-con {
        margin: 0;
        font-size: 16px;
        padding: 5%;
    }
  
    .logo::before {
        display: none;
    }
  
    .resume-info a::after {
        bottom: 15px;
    }
  
    .resume-info a::after {
      display: none;
  }
}