*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #24282f;
    color: #b7babd;
}   

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 40px;
    color: #1a9fff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 70px;
    position: relative;
}


.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#24282f;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}



.navbar a {
    font-size: 18px;
    color: #dcdedf;
    text-decoration: none;
    font-weight: 500;
    margin-left: 60px;
    transition: .1s;
}

.navbar a:hover,
.navbar a:active {
    color: #1a9fff;
}








/*animations*/
@keyframes showRight {
    100% {
        width: 0;
    }
}